@charset "UTF-8";

@color-white: white;
@color-grey-blue: #f5f8f9;
@color-grey-light: #eceff2;
@color-grey: #a6a9ac;
@color-grey-dark: #60686e;
@color-dark: #3d4347;
@color-blue: #38b7ea;

// ============================================================================
//  @section layout
// ============================================================================

body {
    font-family: 'Open Sans', sans-serif;
    color: @color-grey;
    background: @color-grey-blue;
}

a {
    color: @color-dark;

    &:hover {
        color: @color-grey-dark;
    }
}

#sidebar {
    //padding: 1em;
    //background: @color-white;
    //border-radius: .3em;
    //box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

//.post {
//    &-item {
//
//
//        & + & {
//            margin-top: 1em;
//        }
//    }
//}

//.panel {
//    padding: 1em;
//    background: @color-white;
//    border-radius: .3em;
//    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
//
//    & + & {
//        margin-top: 1em;
//    }
//    &-title {
//
//    }
//    &-content {
//
//    }
//}