@charset "UTF-8";

#main {

}

#content {

}

#sidebar {

}

.post {
    &-row {

    }
    &-item {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;

        & + & {
            margin-top: 10px;
        }
        ul {
            font-size: 12px;
        }
    }
}